.main {
  margin-top: 1rem;
}
.container {
  max-width: 992px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
}
.userInfo span {
  font-size: 0.9rem;
  cursor: pointer;
}
.manageBlog {
  display: flex;
  flex-direction: column;
}
.manageBlog button {
  border: 3px solid rgb(106, 106, 216);
  padding: 0.5rem;
  border-radius: 8px;
  background: none;
  margin: 0.5rem;
}
.blogs {
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;
}
