.main {
  background: url(../images/signin.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formSignIn {
  border-radius: 10px;
  padding: 1.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 25rem;
}
.formSignIn h4 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #006188;
  margin-bottom: 1.75rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formInput {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.8rem;
}
.formInput label {
  position: absolute;
  top: 0.5rem;
  left: 0;
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.3rem;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  color: #006188;
}
.input {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #006188;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 5.8rem;
  color: #012a3a;
  border-radius: 8px;
}
.formInput:nth-child(1) .input {
  padding-left: 6.5rem;
}
.formInput:nth-child(4) .input {
  padding-left: 3.5rem;
}
.formInput:nth-child(5) .input {
  padding-left: 5.8rem;
  padding-right: 2.7rem;
}
.formInput:nth-child(6) .input {
  padding-left: 9.7rem;
  padding-right: 2.7rem;
}
.imgPass {
  position: absolute;
  right: 10px;
  top: 0.5rem;
  object-fit: cover;
  width: 25px;
  cursor: pointer;
}
.btn {
  font-size: 1.5rem;
  background: #006188;
  border: none;
  padding: 0.5rem 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
  margin: 0.5rem 0;
}
.btn:hover {
  color: rgb(216, 216, 216);
}
.signIn {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem;
  color: #006188;
  transition: 0.3s;
  text-decoration: none;
}
.signIn:hover {
  color: #012d3f;
}
.error {
  font-size: 0.9rem;
  background: rgba(255, 0, 0, 0.267);
  color: rgb(196, 4, 4);
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0.4rem 0;
  width: fit-content;
  border-radius: 10px;
  position: absolute;
  bottom: 1rem;
  letter-spacing: 1px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}